In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Train data

In [2]:
train_data=pd.read_csv("train-data.csv")
train_data.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74

In [3]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6019 entries, 0 to 6018
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         6019 non-null   int64
 1   Name               6019 non-null   object
 2   Location           6019 non-null   object
 3   Year               6019 non-null   int64
 4   Kilometers_Driven  6019 non-null   int64
 5   Fuel_Type          6019 non-null   object
 6   Transmission       6019 non-null   object
 7   Owner_Type         6019 non-null   object
 8   Mileage            6017 non-null   object
 9   Engine             5983 non-null   object
 10  Power              5983 non-null   object
 11  Seats              5977 non-null   float64
 12  New_Price          824 non-null    object
 13  Price              6019 non-null   float64
dtypes: float64(2), int64(3), object(9)
memory usage: 658.5+ KB

In [4]:
train_data['Mileage'].value_counts()

18.9 kmpl     172
17.0 kmpl     172
18.6 kmpl     119
20.36 kmpl     88
21.1 kmpl      86
             ...
11.56 kmpl      1
8.45 kmpl       1
8.3 kmpl        1
14.47 kmpl      1
19.68 kmpl      1
Name: Mileage, Length: 442, dtype: int64

In [5]:
train_data.dropna(inplace=True)
train_data.isnull().sum()

Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
New_Price            0
Price                0
dtype: int64

In [6]:
train_data.drop(["Unnamed: 0"],axis=1,inplace=True)

In [7]:
train_data.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,Automatic,First,11.36 kmpl,2755 CC,171.5 bhp,8.0,21 Lakh,17.50
10,Maruti Ciaz Zeta,Kochi,2018,25692,Petrol,Manual,First,21.56 kmpl,1462 CC,103.25 bhp,5.0,10.65 Lakh,9.95
15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,Diesel,Manual,First,13.5 kmpl,2477 CC,175.56 bhp,7.0,32.01 Lakh,15.00
20,BMW 3 Series 320d,Kochi,2014,32982,Diesel,Automatic,First,22.69 kmpl,1995 CC,190 bhp,5.0,47.87 Lakh,18.55

In [8]:
train_data['Owner_Type'].value_counts()

First     765
Second     55
Third       3
Name: Owner_Type, dtype: int64

In [9]:
train_data.replace({'First': 1, 'Second': 2, 'Third': 3},inplace=True)

In [10]:
train_data.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,1,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,Automatic,1,11.36 kmpl,2755 CC,171.5 bhp,8.0,21 Lakh,17.50
10,Maruti Ciaz Zeta,Kochi,2018,25692,Petrol,Manual,1,21.56 kmpl,1462 CC,103.25 bhp,5.0,10.65 Lakh,9.95
15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,Diesel,Manual,1,13.5 kmpl,2477 CC,175.56 bhp,7.0,32.01 Lakh,15.00
20,BMW 3 Series 320d,Kochi,2014,32982,Diesel,Automatic,1,22.69 kmpl,1995 CC,190 bhp,5.0,47.87 Lakh,18.55

In [11]:
train_data['Transmission'].value_counts()

Manual       512
Automatic    311
Name: Transmission, dtype: int64

In [12]:
train_data.replace({"Manual":1, "Automatic":2},inplace=True)

In [13]:
train_data.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
2,Honda Jazz V,Chennai,2011,46000,Petrol,1,1,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,2,1,11.36 kmpl,2755 CC,171.5 bhp,8.0,21 Lakh,17.50
10,Maruti Ciaz Zeta,Kochi,2018,25692,Petrol,1,1,21.56 kmpl,1462 CC,103.25 bhp,5.0,10.65 Lakh,9.95
15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,Diesel,1,1,13.5 kmpl,2477 CC,175.56 bhp,7.0,32.01 Lakh,15.00
20,BMW 3 Series 320d,Kochi,2014,32982,Diesel,2,1,22.69 kmpl,1995 CC,190 bhp,5.0,47.87 Lakh,18.55

In [14]:
train_data["Fuel_Type"].value_counts()

Diesel    443
Petrol    371
CNG         9
Name: Fuel_Type, dtype: int64

In [15]:
train_data.replace({"Diesel":1,"Petrol":2, "CNG":3},inplace=True)

In [16]:
train_data.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
2,Honda Jazz V,Chennai,2011,46000,2,1,1,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,1,2,1,11.36 kmpl,2755 CC,171.5 bhp,8.0,21 Lakh,17.50
10,Maruti Ciaz Zeta,Kochi,2018,25692,2,1,1,21.56 kmpl,1462 CC,103.25 bhp,5.0,10.65 Lakh,9.95
15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,1,1,1,13.5 kmpl,2477 CC,175.56 bhp,7.0,32.01 Lakh,15.00
20,BMW 3 Series 320d,Kochi,2014,32982,1,2,1,22.69 kmpl,1995 CC,190 bhp,5.0,47.87 Lakh,18.55

In [17]:
train_data["Location"].value_counts()

Kochi         142
Mumbai        138
Coimbatore    135
Hyderabad      80
Pune           62
Kolkata        55
Delhi          54
Chennai        48
Jaipur         41
Ahmedabad      36
Bangalore      32
Name: Location, dtype: int64

In [18]:
Location = train_data[["Location"]]

Location = pd.get_dummies(Location, drop_first= True)

Location.head()

,Location_Bangalore,Location_Chennai,Location_Coimbatore,Location_Delhi,Location_Hyderabad,Location_Jaipur,Location_Kochi,Location_Kolkata,Location_Mumbai,Location_Pune
2,0,1,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,1,0
10,0,0,0,0,0,0,1,0,0,0
15,0,0,0,1,0,0,0,0,0,0
20,0,0,0,0,0,0,1,0,0,0

In [19]:
Name = train_data[["Name"]]

Name = pd.get_dummies(Name, drop_first= True)

Name.head()

,Name_Audi A4 30 TFSI Premium Plus,Name_Audi A4 35 TDI Premium Plus,Name_Audi A4 35 TDI Technology,Name_Audi A6 35 TDI Matrix,Name_Audi A6 35 TFSI Matrix,Name_Audi Q3 30 TDI Premium FWD,Name_Audi Q3 35 TDI Quattro Premium Plus,Name_Audi Q7 45 TDI Quattro Premium Plus,Name_Audi Q7 45 TDI Quattro Technology,Name_Audi RS5 Coupe,...,Name_Volkswagen Polo GT TSI,Name_Volkswagen Tiguan 2.0 TDI Highline,Name_Volkswagen Vento 1.5 TDI Comfortline,Name_Volkswagen Vento 1.5 TDI Highline,Name_Volkswagen Vento 1.5 TDI Highline AT,Name_Volkswagen Vento 1.5 TDI Trendline,Name_Volkswagen Vento 1.6 Comfortline,Name_Volkswagen Vento 1.6 Highline,Name_Volvo S60 D4 Momentum,Name_Volvo V40 D3 R Design
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
data_train = pd.concat([train_data,Location,Name], axis = 1)

In [21]:
data_train.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,...,Name_Volkswagen Polo GT TSI,Name_Volkswagen Tiguan 2.0 TDI Highline,Name_Volkswagen Vento 1.5 TDI Comfortline,Name_Volkswagen Vento 1.5 TDI Highline,Name_Volkswagen Vento 1.5 TDI Highline AT,Name_Volkswagen Vento 1.5 TDI Trendline,Name_Volkswagen Vento 1.6 Comfortline,Name_Volkswagen Vento 1.6 Highline,Name_Volvo S60 D4 Momentum,Name_Volvo V40 D3 R Design
2,Honda Jazz V,Chennai,2011,46000,2,1,1,18.2 kmpl,1199 CC,88.7 bhp,...,0,0,0,0,0,0,0,0,0,0
7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,1,2,1,11.36 kmpl,2755 CC,171.5 bhp,...,0,0,0,0,0,0,0,0,0,0
10,Maruti Ciaz Zeta,Kochi,2018,25692,2,1,1,21.56 kmpl,1462 CC,103.25 bhp,...,0,0,0,0,0,0,0,0,0,0
15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,1,1,1,13.5 kmpl,2477 CC,175.56 bhp,...,0,0,0,0,0,0,0,0,0,0
20,BMW 3 Series 320d,Kochi,2014,32982,1,2,1,22.69 kmpl,1995 CC,190 bhp,...,0,0,0,0,0,0,0,0,0,0

In [22]:
data_train.drop(["Location","Name"],axis=1, inplace=True)

In [23]:
data_train.head()

,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,...,Name_Volkswagen Polo GT TSI,Name_Volkswagen Tiguan 2.0 TDI Highline,Name_Volkswagen Vento 1.5 TDI Comfortline,Name_Volkswagen Vento 1.5 TDI Highline,Name_Volkswagen Vento 1.5 TDI Highline AT,Name_Volkswagen Vento 1.5 TDI Trendline,Name_Volkswagen Vento 1.6 Comfortline,Name_Volkswagen Vento 1.6 Highline,Name_Volvo S60 D4 Momentum,Name_Volvo V40 D3 R Design
2,2011,46000,2,1,1,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,...,0,0,0,0,0,0,0,0,0,0
7,2016,36000,1,2,1,11.36 kmpl,2755 CC,171.5 bhp,8.0,21 Lakh,...,0,0,0,0,0,0,0,0,0,0
10,2018,25692,2,1,1,21.56 kmpl,1462 CC,103.25 bhp,5.0,10.65 Lakh,...,0,0,0,0,0,0,0,0,0,0
15,2014,110000,1,1,1,13.5 kmpl,2477 CC,175.56 bhp,7.0,32.01 Lakh,...,0,0,0,0,0,0,0,0,0,0
20,2014,32982,1,2,1,22.69 kmpl,1995 CC,190 bhp,5.0,47.87 Lakh,...,0,0,0,0,0,0,0,0,0,0

In [24]:
data_train['Seats'] = data_train['Seats'].astype(int)

In [25]:
data_train.head()

,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,...,Name_Volkswagen Polo GT TSI,Name_Volkswagen Tiguan 2.0 TDI Highline,Name_Volkswagen Vento 1.5 TDI Comfortline,Name_Volkswagen Vento 1.5 TDI Highline,Name_Volkswagen Vento 1.5 TDI Highline AT,Name_Volkswagen Vento 1.5 TDI Trendline,Name_Volkswagen Vento 1.6 Comfortline,Name_Volkswagen Vento 1.6 Highline,Name_Volvo S60 D4 Momentum,Name_Volvo V40 D3 R Design
2,2011,46000,2,1,1,18.2 kmpl,1199 CC,88.7 bhp,5,8.61 Lakh,...,0,0,0,0,0,0,0,0,0,0
7,2016,36000,1,2,1,11.36 kmpl,2755 CC,171.5 bhp,8,21 Lakh,...,0,0,0,0,0,0,0,0,0,0
10,2018,25692,2,1,1,21.56 kmpl,1462 CC,103.25 bhp,5,10.65 Lakh,...,0,0,0,0,0,0,0,0,0,0
15,2014,110000,1,1,1,13.5 kmpl,2477 CC,175.56 bhp,7,32.01 Lakh,...,0,0,0,0,0,0,0,0,0,0
20,2014,32982,1,2,1,22.69 kmpl,1995 CC,190 bhp,5,47.87 Lakh,...,0,0,0,0,0,0,0,0,0,0

In [26]:
data_train['Power'] = data_train['Power'].str.extract('(\d+)').astype(int)

data_train.head()

,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,...,Name_Volkswagen Polo GT TSI,Name_Volkswagen Tiguan 2.0 TDI Highline,Name_Volkswagen Vento 1.5 TDI Comfortline,Name_Volkswagen Vento 1.5 TDI Highline,Name_Volkswagen Vento 1.5 TDI Highline AT,Name_Volkswagen Vento 1.5 TDI Trendline,Name_Volkswagen Vento 1.6 Comfortline,Name_Volkswagen Vento 1.6 Highline,Name_Volvo S60 D4 Momentum,Name_Volvo V40 D3 R Design
2,2011,46000,2,1,1,18.2 kmpl,1199 CC,88,5,8.61 Lakh,...,0,0,0,0,0,0,0,0,0,0
7,2016,36000,1,2,1,11.36 kmpl,2755 CC,171,8,21 Lakh,...,0,0,0,0,0,0,0,0,0,0
10,2018,25692,2,1,1,21.56 kmpl,1462 CC,103,5,10.65 Lakh,...,0,0,0,0,0,0,0,0,0,0
15,2014,110000,1,1,1,13.5 kmpl,2477 CC,175,7,32.01 Lakh,...,0,0,0,0,0,0,0,0,0,0
20,2014,32982,1,2,1,22.69 kmpl,1995 CC,190,5,47.87 Lakh,...,0,0,0,0,0,0,0,0,0,0

In [27]:
data_train['New_Price'] = data_train['New_Price'].str.extract('(\d+)').astype(int)

data_train.head()

,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,...,Name_Volkswagen Polo GT TSI,Name_Volkswagen Tiguan 2.0 TDI Highline,Name_Volkswagen Vento 1.5 TDI Comfortline,Name_Volkswagen Vento 1.5 TDI Highline,Name_Volkswagen Vento 1.5 TDI Highline AT,Name_Volkswagen Vento 1.5 TDI Trendline,Name_Volkswagen Vento 1.6 Comfortline,Name_Volkswagen Vento 1.6 Highline,Name_Volvo S60 D4 Momentum,Name_Volvo V40 D3 R Design
2,2011,46000,2,1,1,18.2 kmpl,1199 CC,88,5,8,...,0,0,0,0,0,0,0,0,0,0
7,2016,36000,1,2,1,11.36 kmpl,2755 CC,171,8,21,...,0,0,0,0,0,0,0,0,0,0
10,2018,25692,2,1,1,21.56 kmpl,1462 CC,103,5,10,...,0,0,0,0,0,0,0,0,0,0
15,2014,110000,1,1,1,13.5 kmpl,2477 CC,175,7,32,...,0,0,0,0,0,0,0,0,0,0
20,2014,32982,1,2,1,22.69 kmpl,1995 CC,190,5,47,...,0,0,0,0,0,0,0,0,0,0

In [28]:
data_train['Engine'] = data_train['Engine'].str.extract('(\d+)').astype(int)

data_train.head()

,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,...,Name_Volkswagen Polo GT TSI,Name_Volkswagen Tiguan 2.0 TDI Highline,Name_Volkswagen Vento 1.5 TDI Comfortline,Name_Volkswagen Vento 1.5 TDI Highline,Name_Volkswagen Vento 1.5 TDI Highline AT,Name_Volkswagen Vento 1.5 TDI Trendline,Name_Volkswagen Vento 1.6 Comfortline,Name_Volkswagen Vento 1.6 Highline,Name_Volvo S60 D4 Momentum,Name_Volvo V40 D3 R Design
2,2011,46000,2,1,1,18.2 kmpl,1199,88,5,8,...,0,0,0,0,0,0,0,0,0,0
7,2016,36000,1,2,1,11.36 kmpl,2755,171,8,21,...,0,0,0,0,0,0,0,0,0,0
10,2018,25692,2,1,1,21.56 kmpl,1462,103,5,10,...,0,0,0,0,0,0,0,0,0,0
15,2014,110000,1,1,1,13.5 kmpl,2477,175,7,32,...,0,0,0,0,0,0,0,0,0,0
20,2014,32982,1,2,1,22.69 kmpl,1995,190,5,47,...,0,0,0,0,0,0,0,0,0,0

In [29]:
data_train['Mileage'] = data_train['Mileage'].str.extract('(\d+)').astype(int)

data_train.head()

,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,...,Name_Volkswagen Polo GT TSI,Name_Volkswagen Tiguan 2.0 TDI Highline,Name_Volkswagen Vento 1.5 TDI Comfortline,Name_Volkswagen Vento 1.5 TDI Highline,Name_Volkswagen Vento 1.5 TDI Highline AT,Name_Volkswagen Vento 1.5 TDI Trendline,Name_Volkswagen Vento 1.6 Comfortline,Name_Volkswagen Vento 1.6 Highline,Name_Volvo S60 D4 Momentum,Name_Volvo V40 D3 R Design
2,2011,46000,2,1,1,18,1199,88,5,8,...,0,0,0,0,0,0,0,0,0,0
7,2016,36000,1,2,1,11,2755,171,8,21,...,0,0,0,0,0,0,0,0,0,0
10,2018,25692,2,1,1,21,1462,103,5,10,...,0,0,0,0,0,0,0,0,0,0
15,2014,110000,1,1,1,13,2477,175,7,32,...,0,0,0,0,0,0,0,0,0,0
20,2014,32982,1,2,1,22,1995,190,5,47,...,0,0,0,0,0,0,0,0,0,0

In [30]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 823 entries, 2 to 6014
Columns: 341 entries, Year to Name_Volvo V40 D3 R Design
dtypes: float64(1), int32(5), int64(5), uint8(330)
memory usage: 326.3 KB

# Test data

In [31]:
test_data=pd.read_csv("test-data.csv")

In [32]:
test_data.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price
0,0,Maruti Alto K10 LXI CNG,Delhi,2014,40929,CNG,Manual,First,32.26 km/kg,998 CC,58.2 bhp,4.0,NaN
1,1,Maruti Alto 800 2016-2019 LXI,Coimbatore,2013,54493,Petrol,Manual,Second,24.7 kmpl,796 CC,47.3 bhp,5.0,NaN
2,2,Toyota Innova Crysta Touring Sport 2.4 MT,Mumbai,2017,34000,Diesel,Manual,First,13.68 kmpl,2393 CC,147.8 bhp,7.0,25.27 Lakh
3,3,Toyota Etios Liva GD,Hyderabad,2012,139000,Diesel,Manual,First,23.59 kmpl,1364 CC,null bhp,5.0,NaN
4,4,Hyundai i20 Magna,Mumbai,2014,29000,Petrol,Manual,First,18.5 kmpl,1197 CC,82.85 bhp,5.0,NaN

In [33]:
test_data.dropna(inplace=True)
test_data.isnull().sum()

test_data.drop(["Unnamed: 0"],axis=1,inplace=True)

test_data.replace({'First': 1, 'Second': 2, 'Third': 3},inplace=True)

test_data.replace({"Manual":1, "Automatic":2},inplace=True)

test_data.replace({"Diesel":1,"Petrol":2, "CNG":3},inplace=True)

Location = test_data[["Location"]]

Location = pd.get_dummies(Location, drop_first= True)

 

Name = test_data[["Name"]]

Name = pd.get_dummies(Name, drop_first= True)

 

data_test = pd.concat([test_data,Location,Name], axis = 1)

data_test.drop(["Location","Name"],axis=1, inplace=True)

data_test['Seats'] = data_test['Seats'].astype(int)

data_test['Power'] = data_test['Power'].str.extract('(\d+)').astype(int)

 

data_test['New_Price'] = data_test['New_Price'].str.extract('(\d+)').astype(int)

 

data_test['Engine'] = data_test['Engine'].str.extract('(\d+)').astype(int)

 

data_test['Mileage'] = data_test['Mileage'].str.extract('(\d+)').astype(int)

data_test.head()

,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,...,Name_Toyota Innova Crysta 2.4 ZX MT,Name_Toyota Innova Crysta 2.8 GX AT,Name_Toyota Innova Crysta 2.8 GX AT 8S,Name_Toyota Innova Crysta 2.8 ZX AT,Name_Toyota Innova Crysta Touring Sport 2.4 MT,Name_Volkswagen Ameo 1.5 TDI Comfortline,Name_Volkswagen Ameo 1.5 TDI Highline,Name_Volkswagen Vento 1.5 TDI Highline,Name_Volkswagen Vento 1.5 TDI Highline Plus AT,Name_Volkswagen Vento 1.6 Trendline
2,2017,34000,1,1,1,13,2393,147,7,25,...,0,0,0,0,1,0,0,0,0,0
30,2014,70000,1,1,2,23,1364,67,5,9,...,0,0,0,0,0,0,0,0,0,0
36,2017,13500,2,2,1,14,1598,103,5,14,...,0,0,0,0,0,0,0,0,0,0
39,2012,66889,1,2,1,22,1995,190,5,70,...,0,0,0,0,0,0,0,0,0,0
43,2018,4000,2,1,1,15,1598,103,5,11,...,0,0,0,0,0,0,0,0,0,0

In [34]:
data_test.shape

(182, 162)

# Feature Selection

In [35]:
data_train.shape

(823, 341)

In [36]:
pd.set_option("display.max_columns", None)
data_train.head()

,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Location_Bangalore,Location_Chennai,Location_Coimbatore,Location_Delhi,Location_Hyderabad,Location_Jaipur,Location_Kochi,Location_Kolkata,Location_Mumbai,Location_Pune,Name_Audi A4 30 TFSI Premium Plus,Name_Audi A4 35 TDI Premium Plus,Name_Audi A4 35 TDI Technology,Name_Audi A6 35 TDI Matrix,Name_Audi A6 35 TFSI Matrix,Name_Audi Q3 30 TDI Premium FWD,Name_Audi Q3 35 TDI Quattro Premium Plus,Name_Audi Q7 45 TDI Quattro Premium Plus,Name_Audi Q7 45 TDI Quattro Technology,Name_Audi RS5 Coupe,Name_BMW 3 Series 320d,Name_BMW 3 Series 320d Luxury Line,Name_BMW 3 Series Luxury Line,Name_BMW 3 Series Sport,Name_BMW 5 Series 520d Luxury Line,Name_BMW 5 Series 530d M Sport,Name_BMW 7 Series 730Ld Design Pure Excellence CBU,Name_BMW 7 Series 730Ld Eminence,Name_BMW X1 M Sport sDrive 20d,Name_BMW X1 sDrive 20d xLine,Name_BMW X1 xDrive 20d M Sport,Name_BMW X3 xDrive 20d Luxury Line,Name_BMW X3 xDrive 20d xLine,Name_Datsun GO Plus T Petrol,Name_Datsun redi-GO S,Name_Datsun redi-GO T,Name_Datsun redi-GO T Option,Name_Fiat Linea Classic Plus 1.3 Multijet,Name_Ford Aspire Ambiente Diesel,Name_Ford Aspire Titanium Diesel,Name_Ford Aspire Titanium Plus Diesel,Name_Ford EcoSport 1.5 Diesel Titanium,Name_Ford EcoSport 1.5 Diesel Titanium Plus,Name_Ford EcoSport 1.5 Diesel Trend,Name_Ford EcoSport 1.5 Petrol Titanium,Name_Ford EcoSport 1.5 Petrol Titanium Plus AT,Name_Ford EcoSport 1.5 Petrol Trend,Name_Ford Ecosport Signature Edition Diesel,Name_Ford Endeavour Titanium 4X2,Name_Ford Figo Titanium Diesel,Name_Ford Freestyle Titanium Petrol,Name_Ford Freestyle Titanium Plus Petrol,Name_Ford Mustang V8,Name_Honda Amaze S Diesel,Name_Honda Amaze S Petrol,Name_Honda Amaze V CVT Petrol,Name_Honda Amaze V Petrol,Name_Honda Amaze VX Diesel,Name_Honda Amaze VX Petrol,Name_Honda BR-V i-DTEC VX MT,Name_Honda BR-V i-VTEC S MT,Name_Honda BRV i-VTEC V CVT,Name_Honda BRV i-VTEC V MT,Name_Honda Brio 1.2 S MT,Name_Honda Brio 1.2 S Option MT,Name_Honda Brio 1.2 VX AT,Name_Honda Brio 1.2 VX MT,Name_Honda CR-V Petrol 2WD,Name_Honda City i-DTEC SV,Name_Honda City i-DTEC ZX,Name_Honda City i-VTEC CVT V,Name_Honda City i-VTEC CVT VX,Name_Honda City i-VTEC CVT ZX,Name_Honda City i-VTEC V,Name_Honda City i-VTEC VX,Name_Honda Jazz Exclusive CVT,Name_Honda Jazz V,Name_Honda Jazz V CVT,Name_Honda Jazz VX,Name_Honda Jazz VX Diesel,Name_Honda WR-V Edge Edition i-VTEC S,Name_Honda WRV i-VTEC VX,Name_Hyundai Creta 1.4 E Plus Diesel,Name_Hyundai Creta 1.6 SX,Name_Hyundai Creta 1.6 SX Automatic Diesel,Name_Hyundai Creta 1.6 SX Option,Name_Hyundai Creta 1.6 SX Option Diesel,Name_Hyundai Creta 1.6 SX Option Executive,Name_Hyundai Elantra 1.6 SX,Name_Hyundai Elantra 1.6 SX Option AT,Name_Hyundai Elantra 2.0 SX Option AT,Name_Hyundai Elite i20 Asta Option,Name_Hyundai Elite i20 Sportz Plus,Name_Hyundai Grand i10 1.2 CRDi Asta,Name_Hyundai Grand i10 1.2 CRDi Magna,Name_Hyundai Grand i10 1.2 CRDi Sportz,Name_Hyundai Grand i10 1.2 Kappa Asta,Name_Hyundai Grand i10 1.2 Kappa Magna,Name_Hyundai Grand i10 1.2 Kappa Magna AT,Name_Hyundai Grand i10 1.2 Kappa Sportz,Name_Hyundai Grand i10 1.2 Kappa Sportz AT,Name_Hyundai Santro D Lite,Name_Hyundai Tucson 2.0 Dual VTVT 2WD AT GL,Name_Hyundai Verna CRDi 1.4 E,Name_Hyundai Verna CRDi 1.6 AT SX Option,Name_Hyundai Verna CRDi 1.6 AT SX Plus,Name_Hyundai Verna CRDi 1.6 SX,Name_Hyundai Verna CRDi 1.6 SX Option,Name_Hyundai Verna VTVT 1.6 AT SX Option,Name_Hyundai Verna VTVT 1.6 AT SX Plus,Name_Hyundai Verna VTVT 1.6 SX,Name_Hyundai Verna VTVT 1.6 SX Option,Name_Hyundai Xcent 1.2 CRDi S,Name_Hyundai Xcent 1.2 VTVT E,Name_Hyundai Xcent 1.2 VTVT S,Name_Hyundai Xcent 1.2 VTVT SX,Name_Hyundai i20 Active SX Dual Tone Petrol,Name_Hyundai i20 Active SX Petrol,Name_Isuzu MUX 4WD,Name_Jaguar XE 2.0L Diesel Prestige,Name_Jaguar XE Portfolio,Name_Jaguar XF 2.0 Diesel Portfolio,Name_Jeep Compass 1.4 Limited Option,Name_Jeep Compass 2.0 Limited,Name_Jeep Compass 2.0 Limited 4X4,Name_Jeep Compass 2.0 Limited Option 4X4,Name_Jeep Compass 2.0 Limited Option Black,Name_Jeep Compass 2.0 Longitude,Name_Jeep Compass 2.0 Sport,Name_Land Rover Discovery HSE Luxury 3.0 TD6,Name_Land Rover Discovery SE 3.0 TD6,Name_Land Rover Discovery Sport TD4 HSE 7S,Name_Land Rover Range Rover 3.0 Diesel LWB Vogue,Name_Land Rover Range Rover Evoque 2.0 TD4 HSE Dynamic,Name_Land Rover Range Rover Sport HSE,Name_Land Rover Range Rover Sport SE,Name_Mahindra Bolero SLE,Name_Mahindra Bolero ZLX,Name_Mahindra KUV 100 G80 K6 Plus 5Str,Name_Mahindra KUV 100 G80 K8,Name_Mahindra KUV 100 G80 K8 Dual Tone,Name_Mahindra NuvoSport N6,Name_Mahindra NuvoSport N8,Name_Mahindra Thar CRDe,Name_Mahindra Verito 1.5 D4 BSIV,Name_Mahindra XUV300 W8 Diesel,Name_Mahindra XUV500 W7,Name_Mahindra XUV500 W9 AT,Name_Mahindra Xylo D4,Name_Mahindra Xylo H4,Name_Maruti Alto K10 LXI,Name_Maruti Alto K10 LXI CNG Optional,Name_Maruti Alto K10 LXI Optional,Name_Maruti Alto K10 VXI,Name_Maruti Baleno Alpha,Name_Maruti Baleno Alpha CVT,Name_Maruti Baleno Alpha Diesel,Name_Maruti Baleno Delta,Name_Maruti Baleno Delta CVT,Name_Maruti Baleno RS Petrol,Name_Maruti Baleno Zeta,Name_Maruti Baleno Zeta CVT,Name_Maruti Celerio CNG VXI MT,Name_Maruti Celerio LXI MT,Name_Maruti Celerio VXI AMT,Name_Maruti Celerio VXI Optional AMT,Name_Maruti Celerio ZXI AMT,Name_Maruti Celerio ZXI MT,Name_Maruti Celerio ZXI Optional AMT,Name_Maruti Ciaz Alpha,Name_Maruti Ciaz Zeta,Name_Maruti Dzire AMT VDI,Name_Maruti Dzire AMT VXI,Name_Maruti Dzire AMT ZDI Plus,Name_Maruti Dzire AMT ZXI Plus,Name_Maruti Dzire LDI,Name_Maruti Dzire VDI,Name_Maruti Dzire VXI,Name_Maruti Dzire ZDI,Name_Maruti Dzire ZDI Plus,Name_Maruti Eeco 5 Seater AC,Name_Maruti Eeco 7 Seater Standard,Name_Maruti Eeco CNG 5 Seater AC,Name_Maruti Ertiga VDI,Name_Maruti Ertiga VXI AT Petrol,Name_Maruti Ertiga ZDI,Name_Maruti Ertiga ZDI Plus,Name_Maruti Ignis 1.2 AMT Alpha,Name_Maruti Ignis 1.2 Alpha,Name_Maruti Ignis 1.2 Delta,Name_Maruti S-Cross Alpha DDiS 200 SH,Name_Maruti S-Cross Delta DDiS 200 SH,Name_Maruti S-Cross Zeta DDiS 200 SH,Name_Maruti Swift LDI,Name_Maruti Swift VDI,Name_Maruti Swift VXI,Name_Maruti Swift ZXI Plus,Name_Maruti Vitara Brezza LDi,Name_Maruti Vitara Brezza VDi,Name_Maruti Vitara Brezza ZDi,Name_Maruti Vitara Brezza ZDi Plus,Name_Maruti Vitara Brezza ZDi Plus AMT Dual Tone,Name_Maruti Vitara Brezza ZDi Plus Dual Tone,Name_Maruti Wagon R CNG LXI,Name_Maruti Wagon R LXI,Name_Maruti Wagon R VXI,Name_Maruti Wagon R VXI 1.2,Name_Maruti Wagon R VXI AMT,Name_Maruti Wagon R VXI AMT1.2,Name_Maruti Wagon R ZXI AMT 1.2,Name_Mercedes-Benz A Class A180 Sport,Name_Mercedes-Benz C-Class Progressive C 220d,Name_Mercedes-Benz CLA 200 CDI Sport,Name_Mercedes-Benz CLA 200 CGI Sport,Name_Mercedes-Benz E-Class E 220 d,Name_Mercedes-Benz E-Class E 350 d,Name_Mercedes-Benz E-Class E400 Cabriolet,Name_Mercedes-Benz GLA Class 200 Sport,Name_Mercedes-Benz GLA Class 200 d Sport,Name_Mercedes-Benz GLA Class 200 d Style,Name_Mercedes-Benz GLC 220d 4MATIC Sport,Name_Mercedes-Benz GLC 220d 4MATIC Style,Name_Mercedes-Benz GLC 43 AMG Coupe,Name_Mercedes-Benz GLE 250d,Name_Mercedes-Benz GLE 350d,Name_Mercedes-Benz GLS 350d 4MATIC,Name_Mercedes-Benz GLS 350d Grand Edition,Name_Mercedes-Benz New C-Class Progressive C 200,Name_Mercedes-Benz S-Class S 350 d,Name_Mercedes-Benz SLC 43 AMG,Name_Mini Clubman Cooper S,Name_Mini Cooper 3 DOOR D,Name_Mini Cooper 3 DOOR S,Name_Mini Cooper 5 DOOR D,Name_Mini Cooper Convertible S,Name_Mitsubishi Pajero Sport 4X2 AT DualTone BlackTop,Name_Mitsubishi Pajero Sport 4X4,Name_Nissan Micra Active XV,Name_Nissan Micra XV CVT,Name_Nissan Micra XV D,Name_Nissan Sunny XE P,Name_Nissan Sunny XV CVT,Name_Nissan Sunny XV D,Name_Nissan Terrano XL D Option,Name_Nissan Terrano XV D Pre,Name_Porsche Cayenne Base,Name_Renault Duster 110PS Diesel RxZ,Name_Renault Duster 110PS Diesel RxZ AMT,Name_Renault Duster 110PS Diesel RxZ AWD,Name_Renault Duster 85PS Diesel RxE,Name_Renault KWID 1.0 RXT Optional,Name_Renault KWID 1.0 RXT Optional AMT,Name_Renault KWID Climber 1.0 AMT,Name_Renault KWID Climber 1.0 MT,Name_Renault KWID RXL,Name_Renault KWID RXT Optional,Name_Skoda Octavia RS,Name_Skoda Rapid 1.5 TDI AT Style,Name_Skoda Rapid 1.5 TDI Ambition,Name_Skoda Rapid 1.5 TDI Style,Name_Skoda Rapid 1.6 MPI AT Ambition,Name_Skoda Rapid 1.6 MPI Ambition,Name_Skoda Superb L&K 1.8 TSI AT,Name_Skoda Superb L&K 2.0 TDI AT,Name_Skoda Superb Style 1.8 TSI AT,Name_Skoda Superb Style 2.0 TDI AT,Name_Tata Bolt Quadrajet XE,Name_Tata Bolt Quadrajet XM,Name_Tata Bolt Revotron XT,Name_Tata Hexa XT,Name_Tata Hexa XTA,Name_Tata Nexon 1.2 Revotron XZ Plus,Name_Tata Nexon 1.5 Revotorq XZ Plus Dual Tone,Name_Tata Safari Storme VX Varicor 400,Name_Tata Tiago 1.2 Revotron XM Option,Name_Tata Tiago 1.2 Revotron XT,Name_Tata Tiago 1.2 Revotron XT Option,Name_Tata Tiago 1.2 Revotron XZ,Name_Tata Tiago 1.2 Revotron XZ WO Alloy,Name_Tata Tiago AMT 1.2 Revotron XZA,Name_Tata Tigor XE Diesel,Name_Tata Zest Quadrajet 1.3 75PS XE,Name_Tata Zest Quadrajet 1.3 75PS XM,Name_Tata Zest Quadrajet 1.3 XT,Name_Tata Zest Revotron 1.2 XT,Name_Tata Zest Revotron 1.2T XE,Name_Tata Zest Revotron 1.2T XM,Name_Tata Zest Revotron 1.2T XMS,Name_Toyota Camry Hybrid 2.5,Name_Toyota Corolla Altis 1.4 DG,Name_Toyota Corolla Altis 1.8 G,Name_Toyota Corolla Altis 1.8 G CVT,Name_Toyota Corolla Altis 1.8 GL,Name_Toyota Corolla Altis 1.8 VL CVT,Name_Toyota Etios 1.4 VXD,Name_Toyota Etios Cross 1.4L GD,Name_Toyota Etios Cross 1.4L VD,Name_Toyota Etios Liva 1.2 G,Name_Toyota Etios Liva 1.2 VX Dual Tone,Name_Toyota Etios Liva 1.4 GD,Name_Toyota Fortuner 2.8 2WD AT,Name_Toyota Fortuner 2.8 2WD MT,Name_Toyota Fortuner 2.8 4WD MT,Name_Toyota Innova Crysta 2.4 GX MT,Name_Toyota Innova Crysta 2.4 GX MT 8S,Name_Toyota Innova Crysta 2.4 VX MT,Name_Toyota Innova Crysta 2.4 VX MT 8S,Name_Toyota Innova Crysta 2.4 ZX MT,Name_Toyota Innova Crysta 2.7 GX MT,Name_Toyota Innova Crysta 2.8 GX AT,Name_Toyota Innova Crysta 2.8 GX AT 8S,Name_Toyota Innova Crysta 2.8 ZX AT,Name_Toyota Platinum Etios 1.4 GXD,Name_Volkswagen Ameo 1.2 MPI Highline,Name_Volkswagen Ameo 1.5 TDI Comfortline,Name_Volkswagen Ameo 1.5 TDI Highline,Name_Volkswagen Polo 1.0 MPI Comfortline,Name_Volkswagen Polo 1.0 MPI Trendline,Name_Volkswagen Polo 1.5 TDI Comfortline,Name_Volkswagen Polo 1.5 TDI Highline,Name_Volkswagen Polo GT TSI,Name_Volkswagen Tiguan 2.0 TDI Highline,Name_Volkswagen Vento 1.5 TDI Comfortline,Name_Volkswagen Vento 1.5 TDI Highline,Name_Volkswagen Vento 1.5 TDI Highline AT,Name_Volkswagen Vento 1.5 TDI Trendline,Name_Volkswagen Vento 1.6 Comfortline,Name_Volkswagen Vento 1.6 Highline,Name_Volvo S60 D4 Momentum,Name_Volvo V40 D3 R Design
2,2011,46000,2,1,1,18,1199,88,5,8,4.50,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7,2016,36000,1,2,1,11,2755,171,8,21,17.50,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
10,2018,25692,2,1,1,21,1462,103,5,10,9.95,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
15,2014,110000,1,1,1,13,2477,175,7,32,15.00,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
20,2014,32982,1,2,1,22,1995,190,5,47,18.55,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [37]:
X=data_train.loc[:,['Year', 'Kilometers_Driven', 'Fuel_Type', 'Transmission', 'Owner_Type',
       'Mileage', 'Engine', 'Power', 'Seats',
       'Name_Volkswagen Polo GT TSI',
       'Name_Volkswagen Tiguan 2.0 TDI Highline',
       'Name_Volkswagen Vento 1.5 TDI Comfortline',
       'Name_Volkswagen Vento 1.5 TDI Highline',
       'Name_Volkswagen Vento 1.5 TDI Highline AT',
       'Name_Volkswagen Vento 1.5 TDI Trendline',
       'Name_Volkswagen Vento 1.6 Comfortline',
       'Name_Volkswagen Vento 1.6 Highline', 'Name_Volvo S60 D4 Momentum',
       'Name_Volvo V40 D3 R Design']]
X.head()

,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Name_Volkswagen Polo GT TSI,Name_Volkswagen Tiguan 2.0 TDI Highline,Name_Volkswagen Vento 1.5 TDI Comfortline,Name_Volkswagen Vento 1.5 TDI Highline,Name_Volkswagen Vento 1.5 TDI Highline AT,Name_Volkswagen Vento 1.5 TDI Trendline,Name_Volkswagen Vento 1.6 Comfortline,Name_Volkswagen Vento 1.6 Highline,Name_Volvo S60 D4 Momentum,Name_Volvo V40 D3 R Design
2,2011,46000,2,1,1,18,1199,88,5,0,0,0,0,0,0,0,0,0,0
7,2016,36000,1,2,1,11,2755,171,8,0,0,0,0,0,0,0,0,0,0
10,2018,25692,2,1,1,21,1462,103,5,0,0,0,0,0,0,0,0,0,0
15,2014,110000,1,1,1,13,2477,175,7,0,0,0,0,0,0,0,0,0,0
20,2014,32982,1,2,1,22,1995,190,5,0,0,0,0,0,0,0,0,0,0

In [38]:
y=data_train['Price']
y

2        4.50
7       17.50
10       9.95
15      15.00
20      18.55
        ...
5999     4.00
6002     3.25
6005     7.43
6010     3.20
6014     4.75
Name: Price, Length: 823, dtype: float64

In [39]:
data_train.drop(['New_Price','Price'],axis=1,inplace=True)

In [40]:
data_train.head()

,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Location_Bangalore,Location_Chennai,Location_Coimbatore,Location_Delhi,Location_Hyderabad,Location_Jaipur,Location_Kochi,Location_Kolkata,Location_Mumbai,Location_Pune,Name_Audi A4 30 TFSI Premium Plus,Name_Audi A4 35 TDI Premium Plus,Name_Audi A4 35 TDI Technology,Name_Audi A6 35 TDI Matrix,Name_Audi A6 35 TFSI Matrix,Name_Audi Q3 30 TDI Premium FWD,Name_Audi Q3 35 TDI Quattro Premium Plus,Name_Audi Q7 45 TDI Quattro Premium Plus,Name_Audi Q7 45 TDI Quattro Technology,Name_Audi RS5 Coupe,Name_BMW 3 Series 320d,Name_BMW 3 Series 320d Luxury Line,Name_BMW 3 Series Luxury Line,Name_BMW 3 Series Sport,Name_BMW 5 Series 520d Luxury Line,Name_BMW 5 Series 530d M Sport,Name_BMW 7 Series 730Ld Design Pure Excellence CBU,Name_BMW 7 Series 730Ld Eminence,Name_BMW X1 M Sport sDrive 20d,Name_BMW X1 sDrive 20d xLine,Name_BMW X1 xDrive 20d M Sport,Name_BMW X3 xDrive 20d Luxury Line,Name_BMW X3 xDrive 20d xLine,Name_Datsun GO Plus T Petrol,Name_Datsun redi-GO S,Name_Datsun redi-GO T,Name_Datsun redi-GO T Option,Name_Fiat Linea Classic Plus 1.3 Multijet,Name_Ford Aspire Ambiente Diesel,Name_Ford Aspire Titanium Diesel,Name_Ford Aspire Titanium Plus Diesel,Name_Ford EcoSport 1.5 Diesel Titanium,Name_Ford EcoSport 1.5 Diesel Titanium Plus,Name_Ford EcoSport 1.5 Diesel Trend,Name_Ford EcoSport 1.5 Petrol Titanium,Name_Ford EcoSport 1.5 Petrol Titanium Plus AT,Name_Ford EcoSport 1.5 Petrol Trend,Name_Ford Ecosport Signature Edition Diesel,Name_Ford Endeavour Titanium 4X2,Name_Ford Figo Titanium Diesel,Name_Ford Freestyle Titanium Petrol,Name_Ford Freestyle Titanium Plus Petrol,Name_Ford Mustang V8,Name_Honda Amaze S Diesel,Name_Honda Amaze S Petrol,Name_Honda Amaze V CVT Petrol,Name_Honda Amaze V Petrol,Name_Honda Amaze VX Diesel,Name_Honda Amaze VX Petrol,Name_Honda BR-V i-DTEC VX MT,Name_Honda BR-V i-VTEC S MT,Name_Honda BRV i-VTEC V CVT,Name_Honda BRV i-VTEC V MT,Name_Honda Brio 1.2 S MT,Name_Honda Brio 1.2 S Option MT,Name_Honda Brio 1.2 VX AT,Name_Honda Brio 1.2 VX MT,Name_Honda CR-V Petrol 2WD,Name_Honda City i-DTEC SV,Name_Honda City i-DTEC ZX,Name_Honda City i-VTEC CVT V,Name_Honda City i-VTEC CVT VX,Name_Honda City i-VTEC CVT ZX,Name_Honda City i-VTEC V,Name_Honda City i-VTEC VX,Name_Honda Jazz Exclusive CVT,Name_Honda Jazz V,Name_Honda Jazz V CVT,Name_Honda Jazz VX,Name_Honda Jazz VX Diesel,Name_Honda WR-V Edge Edition i-VTEC S,Name_Honda WRV i-VTEC VX,Name_Hyundai Creta 1.4 E Plus Diesel,Name_Hyundai Creta 1.6 SX,Name_Hyundai Creta 1.6 SX Automatic Diesel,Name_Hyundai Creta 1.6 SX Option,Name_Hyundai Creta 1.6 SX Option Diesel,Name_Hyundai Creta 1.6 SX Option Executive,Name_Hyundai Elantra 1.6 SX,Name_Hyundai Elantra 1.6 SX Option AT,Name_Hyundai Elantra 2.0 SX Option AT,Name_Hyundai Elite i20 Asta Option,Name_Hyundai Elite i20 Sportz Plus,Name_Hyundai Grand i10 1.2 CRDi Asta,Name_Hyundai Grand i10 1.2 CRDi Magna,Name_Hyundai Grand i10 1.2 CRDi Sportz,Name_Hyundai Grand i10 1.2 Kappa Asta,Name_Hyundai Grand i10 1.2 Kappa Magna,Name_Hyundai Grand i10 1.2 Kappa Magna AT,Name_Hyundai Grand i10 1.2 Kappa Sportz,Name_Hyundai Grand i10 1.2 Kappa Sportz AT,Name_Hyundai Santro D Lite,Name_Hyundai Tucson 2.0 Dual VTVT 2WD AT GL,Name_Hyundai Verna CRDi 1.4 E,Name_Hyundai Verna CRDi 1.6 AT SX Option,Name_Hyundai Verna CRDi 1.6 AT SX Plus,Name_Hyundai Verna CRDi 1.6 SX,Name_Hyundai Verna CRDi 1.6 SX Option,Name_Hyundai Verna VTVT 1.6 AT SX Option,Name_Hyundai Verna VTVT 1.6 AT SX Plus,Name_Hyundai Verna VTVT 1.6 SX,Name_Hyundai Verna VTVT 1.6 SX Option,Name_Hyundai Xcent 1.2 CRDi S,Name_Hyundai Xcent 1.2 VTVT E,Name_Hyundai Xcent 1.2 VTVT S,Name_Hyundai Xcent 1.2 VTVT SX,Name_Hyundai i20 Active SX Dual Tone Petrol,Name_Hyundai i20 Active SX Petrol,Name_Isuzu MUX 4WD,Name_Jaguar XE 2.0L Diesel Prestige,Name_Jaguar XE Portfolio,Name_Jaguar XF 2.0 Diesel Portfolio,Name_Jeep Compass 1.4 Limited Option,Name_Jeep Compass 2.0 Limited,Name_Jeep Compass 2.0 Limited 4X4,Name_Jeep Compass 2.0 Limited Option 4X4,Name_Jeep Compass 2.0 Limited Option Black,Name_Jeep Compass 2.0 Longitude,Name_Jeep Compass 2.0 Sport,Name_Land Rover Discovery HSE Luxury 3.0 TD6,Name_Land Rover Discovery SE 3.0 TD6,Name_Land Rover Discovery Sport TD4 HSE 7S,Name_Land Rover Range Rover 3.0 Diesel LWB Vogue,Name_Land Rover Range Rover Evoque 2.0 TD4 HSE Dynamic,Name_Land Rover Range Rover Sport HSE,Name_Land Rover Range Rover Sport SE,Name_Mahindra Bolero SLE,Name_Mahindra Bolero ZLX,Name_Mahindra KUV 100 G80 K6 Plus 5Str,Name_Mahindra KUV 100 G80 K8,Name_Mahindra KUV 100 G80 K8 Dual Tone,Name_Mahindra NuvoSport N6,Name_Mahindra NuvoSport N8,Name_Mahindra Thar CRDe,Name_Mahindra Verito 1.5 D4 BSIV,Name_Mahindra XUV300 W8 Diesel,Name_Mahindra XUV500 W7,Name_Mahindra XUV500 W9 AT,Name_Mahindra Xylo D4,Name_Mahindra Xylo H4,Name_Maruti Alto K10 LXI,Name_Maruti Alto K10 LXI CNG Optional,Name_Maruti Alto K10 LXI Optional,Name_Maruti Alto K10 VXI,Name_Maruti Baleno Alpha,Name_Maruti Baleno Alpha CVT,Name_Maruti Baleno Alpha Diesel,Name_Maruti Baleno Delta,Name_Maruti Baleno Delta CVT,Name_Maruti Baleno RS Petrol,Name_Maruti Baleno Zeta,Name_Maruti Baleno Zeta CVT,Name_Maruti Celerio CNG VXI MT,Name_Maruti Celerio LXI MT,Name_Maruti Celerio VXI AMT,Name_Maruti Celerio VXI Optional AMT,Name_Maruti Celerio ZXI AMT,Name_Maruti Celerio ZXI MT,Name_Maruti Celerio ZXI Optional AMT,Name_Maruti Ciaz Alpha,Name_Maruti Ciaz Zeta,Name_Maruti Dzire AMT VDI,Name_Maruti Dzire AMT VXI,Name_Maruti Dzire AMT ZDI Plus,Name_Maruti Dzire AMT ZXI Plus,Name_Maruti Dzire LDI,Name_Maruti Dzire VDI,Name_Maruti Dzire VXI,Name_Maruti Dzire ZDI,Name_Maruti Dzire ZDI Plus,Name_Maruti Eeco 5 Seater AC,Name_Maruti Eeco 7 Seater Standard,Name_Maruti Eeco CNG 5 Seater AC,Name_Maruti Ertiga VDI,Name_Maruti Ertiga VXI AT Petrol,Name_Maruti Ertiga ZDI,Name_Maruti Ertiga ZDI Plus,Name_Maruti Ignis 1.2 AMT Alpha,Name_Maruti Ignis 1.2 Alpha,Name_Maruti Ignis 1.2 Delta,Name_Maruti S-Cross Alpha DDiS 200 SH,Name_Maruti S-Cross Delta DDiS 200 SH,Name_Maruti S-Cross Zeta DDiS 200 SH,Name_Maruti Swift LDI,Name_Maruti Swift VDI,Name_Maruti Swift VXI,Name_Maruti Swift ZXI Plus,Name_Maruti Vitara Brezza LDi,Name_Maruti Vitara Brezza VDi,Name_Maruti Vitara Brezza ZDi,Name_Maruti Vitara Brezza ZDi Plus,Name_Maruti Vitara Brezza ZDi Plus AMT Dual Tone,Name_Maruti Vitara Brezza ZDi Plus Dual Tone,Name_Maruti Wagon R CNG LXI,Name_Maruti Wagon R LXI,Name_Maruti Wagon R VXI,Name_Maruti Wagon R VXI 1.2,Name_Maruti Wagon R VXI AMT,Name_Maruti Wagon R VXI AMT1.2,Name_Maruti Wagon R ZXI AMT 1.2,Name_Mercedes-Benz A Class A180 Sport,Name_Mercedes-Benz C-Class Progressive C 220d,Name_Mercedes-Benz CLA 200 CDI Sport,Name_Mercedes-Benz CLA 200 CGI Sport,Name_Mercedes-Benz E-Class E 220 d,Name_Mercedes-Benz E-Class E 350 d,Name_Mercedes-Benz E-Class E400 Cabriolet,Name_Mercedes-Benz GLA Class 200 Sport,Name_Mercedes-Benz GLA Class 200 d Sport,Name_Mercedes-Benz GLA Class 200 d Style,Name_Mercedes-Benz GLC 220d 4MATIC Sport,Name_Mercedes-Benz GLC 220d 4MATIC Style,Name_Mercedes-Benz GLC 43 AMG Coupe,Name_Mercedes-Benz GLE 250d,Name_Mercedes-Benz GLE 350d,Name_Mercedes-Benz GLS 350d 4MATIC,Name_Mercedes-Benz GLS 350d Grand Edition,Name_Mercedes-Benz New C-Class Progressive C 200,Name_Mercedes-Benz S-Class S 350 d,Name_Mercedes-Benz SLC 43 AMG,Name_Mini Clubman Cooper S,Name_Mini Cooper 3 DOOR D,Name_Mini Cooper 3 DOOR S,Name_Mini Cooper 5 DOOR D,Name_Mini Cooper Convertible S,Name_Mitsubishi Pajero Sport 4X2 AT DualTone BlackTop,Name_Mitsubishi Pajero Sport 4X4,Name_Nissan Micra Active XV,Name_Nissan Micra XV CVT,Name_Nissan Micra XV D,Name_Nissan Sunny XE P,Name_Nissan Sunny XV CVT,Name_Nissan Sunny XV D,Name_Nissan Terrano XL D Option,Name_Nissan Terrano XV D Pre,Name_Porsche Cayenne Base,Name_Renault Duster 110PS Diesel RxZ,Name_Renault Duster 110PS Diesel RxZ AMT,Name_Renault Duster 110PS Diesel RxZ AWD,Name_Renault Duster 85PS Diesel RxE,Name_Renault KWID 1.0 RXT Optional,Name_Renault KWID 1.0 RXT Optional AMT,Name_Renault KWID Climber 1.0 AMT,Name_Renault KWID Climber 1.0 MT,Name_Renault KWID RXL,Name_Renault KWID RXT Optional,Name_Skoda Octavia RS,Name_Skoda Rapid 1.5 TDI AT Style,Name_Skoda Rapid 1.5 TDI Ambition,Name_Skoda Rapid 1.5 TDI Style,Name_Skoda Rapid 1.6 MPI AT Ambition,Name_Skoda Rapid 1.6 MPI Ambition,Name_Skoda Superb L&K 1.8 TSI AT,Name_Skoda Superb L&K 2.0 TDI AT,Name_Skoda Superb Style 1.8 TSI AT,Name_Skoda Superb Style 2.0 TDI AT,Name_Tata Bolt Quadrajet XE,Name_Tata Bolt Quadrajet XM,Name_Tata Bolt Revotron XT,Name_Tata Hexa XT,Name_Tata Hexa XTA,Name_Tata Nexon 1.2 Revotron XZ Plus,Name_Tata Nexon 1.5 Revotorq XZ Plus Dual Tone,Name_Tata Safari Storme VX Varicor 400,Name_Tata Tiago 1.2 Revotron XM Option,Name_Tata Tiago 1.2 Revotron XT,Name_Tata Tiago 1.2 Revotron XT Option,Name_Tata Tiago 1.2 Revotron XZ,Name_Tata Tiago 1.2 Revotron XZ WO Alloy,Name_Tata Tiago AMT 1.2 Revotron XZA,Name_Tata Tigor XE Diesel,Name_Tata Zest Quadrajet 1.3 75PS XE,Name_Tata Zest Quadrajet 1.3 75PS XM,Name_Tata Zest Quadrajet 1.3 XT,Name_Tata Zest Revotron 1.2 XT,Name_Tata Zest Revotron 1.2T XE,Name_Tata Zest Revotron 1.2T XM,Name_Tata Zest Revotron 1.2T XMS,Name_Toyota Camry Hybrid 2.5,Name_Toyota Corolla Altis 1.4 DG,Name_Toyota Corolla Altis 1.8 G,Name_Toyota Corolla Altis 1.8 G CVT,Name_Toyota Corolla Altis 1.8 GL,Name_Toyota Corolla Altis 1.8 VL CVT,Name_Toyota Etios 1.4 VXD,Name_Toyota Etios Cross 1.4L GD,Name_Toyota Etios Cross 1.4L VD,Name_Toyota Etios Liva 1.2 G,Name_Toyota Etios Liva 1.2 VX Dual Tone,Name_Toyota Etios Liva 1.4 GD,Name_Toyota Fortuner 2.8 2WD AT,Name_Toyota Fortuner 2.8 2WD MT,Name_Toyota Fortuner 2.8 4WD MT,Name_Toyota Innova Crysta 2.4 GX MT,Name_Toyota Innova Crysta 2.4 GX MT 8S,Name_Toyota Innova Crysta 2.4 VX MT,Name_Toyota Innova Crysta 2.4 VX MT 8S,Name_Toyota Innova Crysta 2.4 ZX MT,Name_Toyota Innova Crysta 2.7 GX MT,Name_Toyota Innova Crysta 2.8 GX AT,Name_Toyota Innova Crysta 2.8 GX AT 8S,Name_Toyota Innova Crysta 2.8 ZX AT,Name_Toyota Platinum Etios 1.4 GXD,Name_Volkswagen Ameo 1.2 MPI Highline,Name_Volkswagen Ameo 1.5 TDI Comfortline,Name_Volkswagen Ameo 1.5 TDI Highline,Name_Volkswagen Polo 1.0 MPI Comfortline,Name_Volkswagen Polo 1.0 MPI Trendline,Name_Volkswagen Polo 1.5 TDI Comfortline,Name_Volkswagen Polo 1.5 TDI Highline,Name_Volkswagen Polo GT TSI,Name_Volkswagen Tiguan 2.0 TDI Highline,Name_Volkswagen Vento 1.5 TDI Comfortline,Name_Volkswagen Vento 1.5 TDI Highline,Name_Volkswagen Vento 1.5 TDI Highline AT,Name_Volkswagen Vento 1.5 TDI Trendline,Name_Volkswagen Vento 1.6 Comfortline,Name_Volkswagen Vento 1.6 Highline,Name_Volvo S60 D4 Momentum,Name_Volvo V40 D3 R Design
2,2011,46000,2,1,1,18,1199,88,5,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7,2016,36000,1,2,1,11,2755,171,8,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
10,2018,25692,2,1,1,21,1462,103,5,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
15,2014,110000,1,1,1,13,2477,175,7,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
20,2014,32982,1,2,1,22,1995,190,5,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [41]:
X.head()

,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Name_Volkswagen Polo GT TSI,Name_Volkswagen Tiguan 2.0 TDI Highline,Name_Volkswagen Vento 1.5 TDI Comfortline,Name_Volkswagen Vento 1.5 TDI Highline,Name_Volkswagen Vento 1.5 TDI Highline AT,Name_Volkswagen Vento 1.5 TDI Trendline,Name_Volkswagen Vento 1.6 Comfortline,Name_Volkswagen Vento 1.6 Highline,Name_Volvo S60 D4 Momentum,Name_Volvo V40 D3 R Design
2,2011,46000,2,1,1,18,1199,88,5,0,0,0,0,0,0,0,0,0,0
7,2016,36000,1,2,1,11,2755,171,8,0,0,0,0,0,0,0,0,0,0
10,2018,25692,2,1,1,21,1462,103,5,0,0,0,0,0,0,0,0,0,0
15,2014,110000,1,1,1,13,2477,175,7,0,0,0,0,0,0,0,0,0,0
20,2014,32982,1,2,1,22,1995,190,5,0,0,0,0,0,0,0,0,0,0

In [42]:
y.head()

2      4.50
7     17.50
10     9.95
15    15.00
20    18.55
Name: Price, dtype: float64

# Fitting model using Random Forest

In [43]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [44]:
from sklearn.ensemble import RandomForestRegressor
reg_rf=RandomForestRegressor()
reg_rf.fit(X_train,y_train)

RandomForestRegressor()

In [45]:
y_pred=reg_rf.predict(X_test)

In [46]:
reg_rf.score(X_train,y_train)

0.9716181626108967

In [47]:
reg_rf.score(X_test,y_test)

0.8742844632433818

In [49]:
from sklearn import metrics
metrics.r2_score(y_test,y_pred)

0.8742844632433818

# Save the model to reuse it again

In [50]:
import pickle

In [54]:
car=open('car_rf.pkl','wb')
pickle.dump(reg_rf,car)

In [55]:
model=open('car_rf.pkl','rb')
forest=pickle.load(model)

In [56]:
y_prediction=forest.predict(X_test)

In [57]:
metrics.r2_score(y_test,y_prediction)

0.8742844632433818